<a href="https://colab.research.google.com/github/TheMLEngineer/Data-Science-Projects/blob/master/Quora_Question_Paris_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
from gensim import utils
from gensim.models.doc2vec import LabeledSentence
from gensim.models import Doc2Vec
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv('/content/drive/My Drive/Projects/Quora Project/questions.csv')

In [7]:
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 6 columns):
id              404351 non-null int64
qid1            404351 non-null int64
qid2            404351 non-null int64
question1       404350 non-null object
question2       404349 non-null object
is_duplicate    404351 non-null int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [9]:
df.describe()

                  id           qid1           qid2   is_duplicate
count  404351.000000  404351.000000  404351.000000  404351.000000
mean   202175.000000  391840.987691  390195.973765       0.369248
std    116726.223686  228430.857607  228803.645742       0.482602
min         0.000000       1.000000       2.000000       0.000000
25%    101087.500000  193381.000000  191012.000000       0.000000
50%    202175.000000  390630.000000  388364.000000       0.000000
75%    303262.500000  589514.000000  588071.000000       1.000000
max    404350.000000  789800.000000  789801.000000       1.000000

In [10]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [11]:
df.dropna(inplace=True)

len(df)

404348

In [13]:
blanks = []  # start with an empty list

for i,lb,rv , q,w,e ,e1 in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list
        
print(len(blanks), 'blanks: ', blanks)

0 blanks:  []

In [14]:
df.is_duplicate.value_counts()

0    255042
1    149306
Name: is_duplicate, dtype: int64

In [15]:
255042 / len(df)

0.6307487609682748

# **63% is minimum accuracy for the model to pass**

In [16]:
print("Not duplicate:")
print(df.question1[0])
print(df.question2[0])
print()
print("Not duplicate:")
print(df.question1[1])
print(df.question2[1])
print()
print("Is duplicate:")
print(df.question1[5])
print(df.question2[5])

Not duplicate:
What is the step by step guide to invest in share market in india?
What is the step by step guide to invest in share market?

Not duplicate:
What is the story of Kohinoor (Koh-i-Noor) Diamond?
What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?

Is duplicate:
Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?
I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?

In [0]:
from sklearn.model_selection import train_test_split

X = df.drop('is_duplicate' , axis = 1)
y = df['is_duplicate']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
X_train.shape

(270913, 5)

In [22]:
y_train.shape

(270913,)

In [23]:
X_test.shape

(133435, 5)

In [24]:
y_test.shape

(133435,)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

# Na√Øve Bayes:
text_clf_nb = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', MultinomialNB()),
])

# Linear SVC:
text_clf_lsvc = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),
])

In [20]:
text_clf_nb.fit(X_train, y_train)

ValueError: ignored